<?xml version="1.0"?>
<config>
    <modules>
        <MageFM_ShippingCost>
            <version>1.0.0</version>
        </MageFM_ShippingCost>
    </modules>
    <global>
        <models>
            <adminhtml>
                <rewrite>
                    <sales_order_create>MageFM_ShippingCost_Model_AdminhtmlSalesOrderCreate</sales_order_create>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <quote_address>MageFM_ShippingCost_Model_SalesQuoteAddress</quote_address>
                </rewrite>
            </sales>
        </models>
        <fieldsets>
            <sales_convert_quote_address>
                <shipping_cost>
                    <to_order>*</to_order>
                </shipping_cost>
            </sales_convert_quote_address>
            <sales_convert_order>
                <shipping_cost>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </shipping_cost>
            </sales_convert_order>
        </fieldsets>
        <resources>
            <magefm_shippingcost_setup>
                <setup>
                    <module>MageFM_ShippingCost</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magefm_shippingcost_setup>
        </resources>
    </global>
</config>
